---
layout: default
---
        <h1>PythonPune</h1>

          <h2>Projects</h2>

            <ul>
            <li>Pune Startup Directory (Proposed group project)</li>
            </ul>

          <h2>Recent Meetings</h2>
            <ul>
              {% for post in site.posts %}
                {% if post.categories contains 'meeting-notes' %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>

          <h2>Recent Blog Posts</h2>
            <ul>
              {% for post in site.posts %}
                {% if post.categories contains 'blog' %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>

          <h2>Recent Discussions</h2>

            <iframe id="forum_embed"
              src="javascript:void(0)"
              scrolling="no"
              frameborder="0"
              width="900"
              height="700">
            </iframe>
