<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for PythonPune" href="/atom.xml" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
    <script type="text/javascript" src="/javascripts/jquery.tinysort.min.js"></script>  
    <title>PythonPune - Presence of Python Pune Community on Internet</title>
    <script type="text/javascript">
      function page_callback() {
        // do nothing;
      }
    </script>
  </head>

  <body>

    <header>
      <div class="container" id="header_menu">
        <table border=0 cellspacing=0>
          <tr>
            <td>
              <h1><a href="/">PythonPune</a></h1>
              <h2>Pune Pythonistas and their discussions and events.</h2>
            </td>                      
            <td>
              <div class="subscription-box">
                <!-- <img src="https://groups.google.com/forum/my-groups-color.png" alt="Google Groups">  -->
                <h4>Subscribe to PythonPune Google Group</h4>                          
                <form action="http://groups.google.com/group/PythonPune/boxsubscribe">
                  Email: <input type=text name=email>
                  <input type=submit name="sub" value="Subscribe">	
                </form>
              </div>
            </td>
          </tr>                    
        </table>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="http://groups.google.com/group/pythonpune">Google Group</a></li>
          <li><a href="/meetings">Meetings</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/resources">Resources</a></li>
          <br/>
          <li><a href="/companies">Company Catalog <em>(Under Construction)</em></a></li>
          <li><a href="http://python-india-jobs.github.com">Python India Jobs <em>(Under Construction)</em></a></li>
        </ul>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
      <section id="footer">
        <p><em>Site maintained by <a href="https://github.com/dnene" class="user-mention">@dnene</a> and <a href="https://github.com/palakmathur" class="user-mention">@palakmathur</a>. Contact them for corrections / comments / suggestions <br/>
        Look and feel originally based on `hack` theme of github pages by <a href="http://bleikamp.com/">Ben Bleikamp</a> with subsequent modifications</em><br/>
<a rel="license" href="http://creativecommons.org/licenses/by/2.5/in/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/2.5/in/80x15.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">PythonPune Website</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/pythonpune/pythonpune.github.com/" property="cc:attributionName" rel="cc:attributionURL">Various contributors from PythonPune</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.5/in/deed.en_US">Creative Commons Attribution 2.5 India License</a>. </p>
      </section>
    </div>

  </body>
    <script type="text/javascript">
      $(document).ready(function() {
        page_callback();
      });
    </script>
</html>
