<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />

    <title>PythonPune by pythonpune</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>PythonPune</h1>
        <h2>Pune Pythonistas and their discussions and events.</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
      <section id="footer">
        <p><em>Site maintained by <a href="https://github.com/dnene" class="user-mention">@dnene</a> and <a href="https://github.com/palakmathur" class="user-mention">@palakmathur</a>. Contact them for corrections / comments / suggestions <br/>
        Look and feel originally based on `hack` theme of github pages with subsequent modifications</em></p>
      </section>
    </div>

  </body>
    <script type="text/javascript">
      document.getElementById("forum_embed").src =
        "https://groups.google.com/forum/embed/?place=forum/pythonpune" +
        "&theme=default&showtabs=false&hideforumtitle=true&showpopout=true" + 
        encodeURIComponent(window.location.href);
    </script>
</html>
